extends layout

block content
  h1= title

  h2 Newest Repositories
  table
    thead
      tr
        th Created at
        th Name
        th Organization
        th Description
    tbody
    - each repo in repos
      tr
        td= new Date(repo.created_at)
        td
          a(href='' + repo.html_url, target='_blank')
            = repo.name
        td
          a(href='' + repo.owner.html_url, target='_blank')
            = repo.owner.login
        td= repo.description
  
  h2 Latest Wiki edits
  ul
    - each edit in wikiEdits
      li
        a(href='https://wiki.mozilla.org/'+edit, target='_blank')
          = edit
