doctype html
html(lang='en-US')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Zilla+Slab')
    link(rel='shortcut icon' type='image/png' sizes="196x196" href='/favicon.png')

  body
    block content
