@font-face {
  font-family: "ZillaSlabHighlightBold";
  src: url("../fonts/ZillaSlabHighlight-Bold.woff2");
}

@font-face {
  font-family: 'MetropolisMedium';
  src: url('../fonts/Metropolis-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
}

:root {
  --brand-color: #000;
  --link-color: #0060df;
  --link-hover-color: #003eaa;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.7rem;
  font-family: 'Inter', sans-serif;
  margin: 0px;
  color: #4D4E53;
  background-color: #FFF;
}

.logo {
  font-family: 'ZillaSlabHighlightBold', serif;
  color: black;
}

h1 {
  margin-top: 30px;
  text-align: center;
}

h2 {
  display: inline-block;
  font-family: 'MetropolisMedium', serif;
  font-size: 3rem;
  color: var(--brand-color);
}

h2 {
  margin-top: 50px;
}

.col {
  min-width: 48vw;
  max-width: 48vw;
}

table {
  border-collapse: collapse;
  margin-bottom: 15px;
  width: 100%;
}

tr {
  border-bottom: 1px solid #e7e5e2;
}

th tr {
  border-bottom: 0px;
}

table td, table th {
  padding: 5px;
}

th {
  text-align: left;
  background-color: var(--brand-color);
  color: #FFF;
  font-family: 'MetropolisMedium', serif;
}

.info {
  padding-left: 5px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover, a:visited {
  color: var(--link-hover-color);
}

header {
  height: 50px;
  background-color: #000;
  color: #FFF;
  font-family: 'MetropolisMedium', serif;
  text-align: center;
}

nav {
  display: inline-block;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: inline-flex;
  list-style-type: none;
  padding-left: 0px;
}

nav ul li {
  margin-right: 50px;
  font-size: 1.1em;
}

nav ul li:last-child {
  margin-right: 0px;
}

nav a, nav a:hover, nav a:visited {
  color: inherit;
}

.container {
  padding: 0px 30px 30px 30px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-device-width : 1100px) {
  .col {
    min-width: 100%;
    max-width: 100%;
  }

  .container {
    flex-direction: column;
  }
}

@media only screen and (max-device-width : 768px) {
  header {
    display: none;
  }
}
