@font-face {
  font-family: "MozillaHeadlineSemiBold";
  src: url("fonts/MozillaHeadline-SemiBold.woff2");
}

@font-face {
  font-family: 'MozillaText';
  src: url('fonts/MozillaText-Regular.woff2') format('woff2');
}

:root {
  --brand-color: #d6ffcd;
  --link-color: #000;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.9rem;
  font-family: 'MozillaTextSemiBold', sans-serif;
  margin: 0px;
  color: #4D4E53;
  background-color: #FFF;
  line-height: 1.2rem;
}

h1 {
  margin-top: 30px;
  text-align: center;
}

h2 {
  display: inline-block;
  font-family: 'MozillaHeadlineSemiBold', serif;
  font-size: 3rem;
  margin-top: 50px;
}

.col {
  min-width: 47vw;
  max-width: 47vw;
}

table {
  border-collapse: collapse;
  margin-bottom: 15px;
  width: 100%;
}

tr {
  border-bottom: 1px solid #e7e5e2;
}

th tr {
  border-bottom: 0px;
}

table td, table th {
  padding-inline: 5px;
  padding-block: 10px;
}

th {
  text-align: left;
  background-color: var(--brand-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover, a:visited {
  text-decoration: underline;
}

header {
  height: 50px;
}

nav {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  align-items: center;
  justify-content: space-between;
  padding-inline: 30px;
  box-shadow:
    0 0 6px 1px rgba(29,17,51,.04),
    0 0 8px 2px rgba(9,32,77,.12),
    0 0 5px -3px rgba(29,17,51,.12);
}

nav img {
  height: 24px;
}

nav ul {
  display: inline-flex;
  list-style-type: none;
  padding-left: 0px;
}

nav ul li {
  margin-right: 50px;
  font-size: 1.1em;
}

nav ul li:last-child {
  margin-right: 0px;
}

nav a, nav a:hover, nav a:visited {
  color: inherit;
}

.container {
  padding: 0px 30px 30px 30px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-device-width : 1100px) {
  .col {
    min-width: 100%;
    max-width: 100%;
  }

  .container {
    flex-direction: column;
  }
}

@media only screen and (max-device-width : 768px) {
  header {
    display: none;
  }
}
